/*Open Sans*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
/*Staatliches*/
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* make images easier to work with */
img,
picutre {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}


:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --dark: hsl(15, 40%, 6%);
  --gray: hsl(180, 4%, 65%);
}

body {
  margin: 0;
  padding: 0;
  background-color:var(--dark);
  color: white;
  font-family: "Open Sans";
}
.app {
max-width: 1280px;
margin: 0 auto;
padding: 2rem;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  font-size: 4rem;
}

.search {
  position: relative;
}

::placeholder {
  padding-left: 1.8rem;
  font-size: 0.8rem;
}
.search > input {
background-color: rgb(230, 228, 228);
padding: 0.3rem 0;
border-radius: 0.8rem;
border: 0;
}

.search-icon {
  position: absolute;
  top: 25%;
  left: 5%;
  color: gray;
}

.hero-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  padding-top: 1rem;
}



.movie-poster {
  border-radius: 10px;
}


.trending {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  padding-top: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 4px solid #3BAF55;
  width: 93px;
  
}

.main-wrapper {
  padding-top: 2rem;
  position: relative;
  
}

.main-poster {
  max-width: 100%;
  border-radius: 20px;
}

.main-details {
  position: absolute;
  top: 80%;
  font-family: 'Roboto', sans-serif;

}

.main-title {
  font-family: 'Staatliches', sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  padding-left: 1rem;
  text-shadow: 2px 2px 2px #B16E9C;
}
@media (min-width: 60rem) {
  .main-title {
    font-size: 3rem;
  }
}